.main-container {
    display: flex;
    text-align: center;
    height: 100vh;
}

.user-list-container {
    flex-basis: 0;
    flex-grow: 1;
    align-self: center;
}

.selected-user-container {
    flex-basis: 0;
    flex-grow: 1;
    align-self: center;
}
