.icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-container i {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.icon-container:hover i {
    color: antiquewhite;
}

.icon-container:active i {
    color: white;
}
