:root {
	--form-error-text: rgb(255, 30, 0);
	--main-background: #151b36;
	--main-background-dark: rgb(34, 42, 80);
}

/* html {
	--form-error-text: rgb(255, 30, 0);
	--main-background: #151b36;
	--main-background-dark: rgb(34, 42, 80);
} */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--main-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
